.select {
  font-size: 1.3rem;
    color: inherit;
    cursor: pointer;
    display: flex;
    justify-content: start;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    background-color: #d8f3dc;
    border: none;
  }
  .select:hover {
    background-color: #40916c;
  }

  .select:focus {
    outline: none;
    border: 1px solid #95d5b2
  }
  