.footer {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 6rem;
}
.ul {
  display: flex;
  gap: 1rem;
}
.link {
  text-decoration: none;
  list-style: none;
  color: #081c15;
  cursor: pointer;
}
